body {
  background-color: #131314;
  color: #fff;
}

a {
  color: #062e6f;
}

button {
  color: #fff;
  background-color: #a8c7fa;
}

input {
  color: #c4c7c5;
  border: 1px solid #444746;
}

.active {
  background-color: #004a77;
}

.sidebar {
  background-color: #37393b;
  color: #c4c7c5;
}

.header {
  background-color: #222327;
  color: #fff;
}

.footer {
  background-color: #f8f9fa;
  color: #222327;
}

.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.heading {
  font-size: 2em;
  margin-top: 0;
}

.paragraph {
  margin-bottom: 1em;
}

.link {
  text-decoration: none;
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #444746;
}

.active {
  background-color: #004a77;
}
