/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f2f2f2;
  color: #333;
}

header {
  background-color: #333;
  padding: 20px;
  color: #fff;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 36px;
  letter-spacing: 2px;
}

nav {
  background-color: #666;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #999;
}

main {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

article {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

article:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
  color: #333;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
}

footer {
  background-color: #333;
  padding: 10px;
  color: #fff;
  text-align: center;
  font-size: 14px;
}

a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #666;
}

.about-me {
  text-align: justify;
  line-height: 1.6;
  border-bottom: 1px solid #ccc;
}

.services ul {
  padding-left: 20px;
  list-style: disc;
}

.contact p {
  margin: 5px 0;
}

/* New CSS styles for profile picture */
.profile-picture {
  display: block;
  margin: 20px auto;
  max-width: 200px;
  border-radius: 50%;
}
